<% include top %>
    <h1> <%= title %> </h1>

    <div class="card expensedetail">
        <a href="/expense"> Go back to all expenses </a> <br> <br>
        <a href="/history/">go back to history</a> <br> <br>
        <p>Date: <%= expense.listdate %></p>
        <p>Rent: <%= expense.rent %></p>
        <p>Food: <%= expense.food %></p>
        <p>Drink: <%= expense.drink %></p>
        <p>Other: <%= expense.other %></p>
        <p>Total: <%= expense.rent + expense.food + expense.drink + expense.other %> </p>
  
  <hr>
  <div class="adminlinks">
    <a class="btn btn-primary" href="<%= expense.url + '/update' %>"> Update expense </a> <br>
    <a class="btn btn-danger" href="<%= expense.url + '/delete' %>"> Delete expense </a> <br>
  </div>
  </div>
<% include bottom %>