<% include top %>
<h1> <%= title %> </h1>
<form method="post" action="">
<div class="card expenseform">
<% if(paramsurl.includes('/create') && sessionuserid) { %>
        <a href="/expense"> Go back to all expenses </a> <br> <br>
    <% } if(paramsurl.includes('/update') && sessionuserid) { %>
        <a href="/expense/<%= expense.id %>"> Go back to expense details </a> <br> <br>
    <% } if(!sessionuserid) { %>
    <a href="/">go back to main page</a> <br> <br>
    <p> This expense will not be saved! Please login to be able to save your expense.</p> <br> <br>
<% } %>
    <% if(sessionuserid) { %>   
        <a href="/history/">go back to history</a> <br> <br>
    <% } %>
    <label for="fullmonth">Date</label> <br>
    <input type="date" name="fullmonth" required value ="<%= undefined===expense.date ? pickerdatenow : expense.pickerdate %>" > <br>

    <label for="rent">Rent</label> <br>
    <input type="number" name="rent" required value="<%= undefined===expense.rent ? 0 : expense.rent %>" > <br>

    <label for="food">Food</label> <br>
    <input type="number" name="food" required value="<%= undefined===expense.food ? 0 : expense.food %>" > <br>

    <label for="drink">Drink</label> <br>
    <input type="number" name="drink" required value="<%= undefined===expense.drink ? 0 : expense.drink %>" > <br>

    <label for="other">Other</label> <br>
    <input type="number" name="other" required value="<%= undefined===expense.other ? 0 : expense.other %>" > <br>
   

    <% if(paramsurl.includes('/create')) { %>
        <input class='btn btn-primary' type="submit" value="Create">
    <% } if(paramsurl.includes('/update')) { %>
        <input class='btn btn-primary' type="submit" onclick="return confirm('Are you sure you want to update this expense?');" value="Update">
    <% } %>
</div>
</form>

<% if(!sessionuserid && expense.rent) { %>
    <div id="expensedata">
        <p>Date: <%= expense.fullmonth %></p>
        <p>Rent: <%= expense.rent %></p>
        <p>Food: <%= expense.food %></p>
        <p>Drink: <%= expense.drink %></p>
        <p>Other: <%= expense.other %></p>
    </div>
    <% } %>

<% if(errors) { %>
    <% errors.forEach(function (error) { %>
       <p> <%= error.msg %> </p>
   <% }) %>
<% } %>
<% include bottom %>