<% include top %>
<div class="card expensedetail">
    <h1> <%= title %> </h1>
    <a href="/expense/<%= expense.id %>"> Go back expense details </a> <br> <br>
    <p>Date: <%= expense.listdate %></p>
    <p>Rent: <%= expense.rent %></p>
    <p>Food: <%= expense.food %></p>
    <p>Drink: <%= expense.drink %></p>
    <p>Other: <%= expense.other %></p>
    <p>Total: <%= expense.rent + expense.food + expense.drink + expense.other %> </p>

    <form method="post" action="">
    <div class="expensedelete">
        <input type="hidden" name="expenseid" required = "true" value="<%= expense.id %>">
        <input class='btn btn-danger' type="submit" onclick="return confirm('Are you sure you want to delete this expense?');" value="Delete">
    </div>
  </form>
  </div>
  
<% include bottom %>