<% include top %>
  <div class="col-sm-10">
  <h1>Expenses</h1>
  <a class="btn btn-primary" href="/expense/create"> create expense</a>
  <div class="card expenselist">
  <% for(let expense of listExpenses){ %>
  <a href="<%= expense.url %>"> <%= expense.listdate %> <br> Total: <%= expense.rent + expense.food + expense.drink + expense.other %></a> <br>
  <% } %>
  </div>
  <% if(listExpenses.length === 0) {%>
      <p>No expenses found. Try to create one.</p>
  <% } %>
  </div>
<% include bottom %>