<% include top %>
    <h1> Here is all your incomes and expenses: </h1> <br>
    <div class="col-sm-12">
        <div class= "col-sm-7 historyexpense"> 
            <h2> Expenses: </h2>
            <div class="card expenselist">
            <% for(let expense of expenses){ %>
            <a href="<%= expense.url %>"> <%= expense.listdate %> <br> Total: <%= expense.rent + expense.food + expense.drink + expense.other %></a> <br>
           
            <% } %>
            </div>
        </div>

        <div class= "col-sm-3 historyincome"> 
            <h2> Incomes: </h2>
            <div class="card incomelist">
            <% for(let income of incomes){ %>
                <a href="<%= income.url %>"> <%= income.listdate %> <br> Total: <%= income.studentAllowance + income.salary + income.studentLoan + income.otherIncome %></a> <br>
                
            <% } %>
            </div>
        </div>
    </div>
<% include bottom %>