<% include top %>
<h1> <%= title %> </h1>
<form method="post" action="">
<div class="card incomeform">
<% if(paramsurl.includes('/create') && sessionuserid) { %>
        <a href="/income"> Go back to all incomes </a> <br> <br>
    <% } if(paramsurl.includes('/update') && sessionuserid) { %>
        <a href="/income/<%= income.id %>"> Go back to income details </a> <br> <br>
    <% } if(!sessionuserid) { %>
    <a href="/">go back to main page</a> <br> <br>
    <p> This income will not be saved! Please login to be able to save your income.</p> <br> <br>
<% } %>
    <% if(sessionuserid) { %>   
        <a href="/history/">go back to history</a> <br> <br>
    <% } %>
    <label for="fullmonth">Date</label> <br>
    <input type="date" name="fullmonth" required value ="<%= undefined===income.date ? pickerdatenow : income.pickerdate %>" > <br>

    <label for="studentAllowance">Student allowance</label> <br>
    <input type="number" name="studentAllowance" required value="<%= undefined===income.studentAllowance ? 0 : income.studentAllowance %>" > <br>

    <label for="salary">Salary</label> <br>
    <input type="number" name="salary" required value="<%= undefined===income.salary ? 0 : income.salary %>" > <br>

    <label for="studentLoan">Student loan</label> <br>
    <input type="number" name="studentLoan" required value="<%= undefined===income.studentLoan ? 0 : income.studentLoan %>" > <br>

    <label for="otherIncome">Other income</label> <br>
    <input type="number" name="otherIncome" required value="<%= undefined===income.otherIncome ? 0 : income.otherIncome %>" > <br>

    <% if(paramsurl.includes('/create')) { %>
        <input class='btn btn-primary' type="submit" value="Create">
    <% } if(paramsurl.includes('/update')) { %>
        <input class='btn btn-primary' type="submit" onclick="return confirm('Are you sure you want to update this income?');" value="Update">
    <% } %>
    
</div>
</form>

<% if(!sessionuserid && income.studentAllowance) { %>
    <div id="incomedata">
        <p>Date: <%= income.fullmonth %></p>
        <p>Rent: <%= income.studentAllowance %></p>
        <p>Food: <%= income.salary %></p>
        <p>Drink: <%= income.studentLoan %></p>
        <p>Other: <%= income.otherIncome %></p>
    </div>
    <% } %>

<% if(errors) { %>
    <% errors.forEach(function (error) { %>
       <p> <%= error.msg %> </p>
   <% }) %>
<% } %>
<% include bottom %>