<% include top %>
<div class="card incomedetail">
    <h1> <%= title %> </h1>
    <a href="/income/<%= income.id %>"> Go back income details </a> <br> <br>
    <p>Date: <%= income.listdate %></p>
    <p>Student Allowance: <%= income.studentAllowance %></p>
    <p>Salary: <%= income.salary %></p>
    <p>Student loan: <%= income.studentLoan %></p>
    <p>Other Income: <%= income.otherIncome %></p>
    <p>Total: <%= income.studentAllowance + income.salary + income.studentLoan + income.otherIncome %> </p>
  
  <form method="post" action="">
    <div class="incomedelete">
        <input type="hidden" name="incomeid" required = "true" value="<%= income.id %>">
        <input class='btn btn-danger' type="submit" onclick="return confirm('Are you sure you want to delete this income?');" value="Delete">
    </div>
  </form>
  </div>
<% include bottom %>