<% include top %>
  <div class="col-sm-10">
  <h1>Incomes</h1>
  <a class="btn btn-primary" href="/income/create"> create income</a>
  <div class="card incomelist">
  <% for(let income of listincomes){ %>
  <a href="<%= income.url %>"> <%= income.listdate %> <br> Total: <%= income.studentAllowance + income.salary + income.studentLoan + income.otherIncome %></a> <br>
  <% } %>
  </div>
  <% if(listincomes.length === 0) {%>
      <p>No incomes found. Try to create one.</p>
  <% } %>
  </div>
<% include bottom %>