<% include top %>
    <h1> <%= title %> </h1>

    <div class=" card incomedetail">
        <a href="/income"> Go back to all income </a> <br> <br>
        <a href="/history/">go back to history</a> <br> <br>
        <p>Date: <%= income.listdate %></p>
        <p>Student allowance: <%= income.studentAllowance %></p>
        <p>Salary: <%= income.salary %></p>
        <p>Student loan: <%= income.studentLoan %></p>
        <p>Other income: <%= income.otherIncome %></p>
        <p>Total: <%= income.studentAllowance + income.salary + income.studentLoan + income.otherIncome %> </p>
  
  <hr>
  <div class="adminlinks">
    <a class= "btn btn-primary" href="<%= income.url + '/update' %>"> Update income </a> <br>
    <a class= "btn btn-danger" href="<%= income.url + '/delete' %>"> Delete income </a> <br>
  </div>
  </div>
<% include bottom %>