
<% include top %>
<div class="container-fluid">
<div class="row mx-auto">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <h1 class="text-center">Welcome to the Expenses-Calculator!</h1>
        <p class="text-justify">Expenses-Calculator is an application made for a TUAS programming course.</p>
    </div>
    <div class="col-sm"> 
    </div>
</div>
</div>
<% include bottom %>