<% include top %>
<head>
</head>
<body class="container">
<div class="row justify-content-center">
<div class="card" style="width: 18rem;">
<div class="card-body text-center" id="divi">
<h3 class="card-title text-center">Change your password</h3>
<form action="/user/submitted" method="post">
<input type="email" placeholder="Enter email" id="email" name="email" required></input>
</br>
</br>
<input type="password" placeholder="New password" id="new" name="new" required></input>
</br>
</br>
<input type="password" placeholder="Confirm password" id="confirm" name="confirm" required></input>
</br>
</br>
<input class="btn btn-success" type="submit" value="Confirm change"></input>
</form>
</div>
</div>
</div>
<% include bottom %>
