<% include top %>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title><%= title %></title>  
  </nav>
  <body>

  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
          <div class="card" style="width: 18rem;">
              <div class="card-title text-center"><h3>Register</h3></div>
              <div class="card-body text-center">
                  <form method="POST" action="#">
                      <p><input type="email" name="RegisterUserEmail" placeholder="Email"></p>
                      <p></p><input type="password" name="RegisterUserPassword" placeholder="Password"></p>
                      <input class="btn btn-success" type="submit" value="Register">
                    </form>
                    </form>
              </div>
          </div>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>

  

  </body>
</html>