<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expenses Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
    </head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Expenses - calculator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if(sessionuserid == '') { %>
        <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form method="POST" action="/">
              <input class="dropdown-item" type="email" name="username" placeholder="username">
              <input class="dropdown-item" type="password" name="password" placeholder="password">
              <input class="dropdown-item" type="submit" name="submit" value="Login">
            </form>
            <a class="dropdown-item" href="/register/">Register</a>
            <a class="dropdown-item" href="/user/change">Change password</a>
            </div>
          </li>
          <% }  else { %>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= sessionemail %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <form method="GET" action="/logout/">
                <input class="dropdown-item" type="submit" name="logout" value="Logout">
              </form>
              </div>
            </li>
          <% } %>
          <li class="nav-item">
          <a class="nav-link active" href="/expense/">Expenses</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" href="/income/">Incomes</a>
          </li>
          <li class="nav-item">
         <% if(sessionuserid) { %> 
            <a class="nav-link active" href="/history/">History</a> 
         <% } %>
          </li>
      </ul>
    </div>
</nav>
