<% include top %>
<table border="1">
<tr>
<th>Email</th>
<th>Password</th>
</tr>
<% listUsers.forEach(function(i){ %>
<tr>
<td><%= i.email %></td>
<td><%= i.password %></td>
</tr>
<% }) %>
</table>
<% include bottom %>