body {
  background-image:url("pictures/background.png");
  padding: 50px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2em;
}

a {
  color: #00B7FF;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  margin-bottom: 1em;
}
nav a {
  margin-bottom: 0;
}

p {
  font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

input { 
  font-family: 'Oswald', sans-serif;
}

hr {
  border-top: 1px solid #000;
}

.sidebar-nav {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0;
  list-style: none;
}

.expenselist, .incomelist {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  
}

.adminlinks a {
  display: inline-block;
  margin-bottom: 1em;
}

label {
  margin-top: 1em;
}

input {
  margin-bottom: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.historyexpense, .historyincome {
  float: left;
}

.btn {
  margin-top: 1em;
}

@media screen and (max-width: 575px) {
  .card {
    width: 100%;
  }
}
